---
import Layout from '@/layouts/Layout.astro';

import { prisma } from "../lib/prisma";
import { actions } from "astro:actions";

const items = await prisma.item.findMany({
  orderBy: { id: "desc" },
});

const result = Astro.getActionResult(actions.addItem);

if (result && !result.error) {
  return Astro.redirect('/');
}
---

<Layout>
  <div class="container mx-auto">
    <div class="max-w-4xl py-10">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl mb-10">
        Weather Notify
      </h1>

      <div class="flex gap-4">
        <div>
          <a href="/login" class="btn">Login</a>
        </div>

        <div>
          <a href="/register" class="btn">Register</a>
        </div>
      </div>
    </div>
  </div>
</Layout>
