---
import Layout from '@/layouts/Layout.astro';

import { prisma } from "../lib/prisma";
import { actions } from "astro:actions";

// Fetch all items from DB
const items = await prisma.item.findMany({
  orderBy: { id: "desc" },
});

const result = Astro.getActionResult(actions.addItem);

if (result && !result.error) {
  return Astro.redirect('/');
}
---

<Layout>
  <div class="container mx-auto">
    <div class="max-w-4xl py-10">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">
        Weather Notify
      </h1>

      <p class="my-6 text-lg">
        Add some items already.
      </p>

      <div class="mb-10">
        <form method="post" action={actions.addItem}>
          <div class="mb-4">
            <label for="name" class="label">Name</label>
            <input type="text" name="name" id="name" class="input">
          </div>

          <button class="btn">Submit</button>
        </form>
      </div>

      <ul>
        {items.map(item => (
          <li class="list-disc">{item.name}</li>
        ))}
      </ul>
    </div>
  </div>
</Layout>
