---
import Layout from '@/layouts/Layout.astro';
import RegisterForm from '@/components/RegisterForm';

if (Astro.locals.session) {
  return Astro.redirect('/dashboard');
}
---

<Layout>
  <div class="h-screen bg-zinc-50">
    <RegisterForm client:load />
  </div>
</Layout>