---
import Layout from '@/layouts/Layout.astro';
import RegisterForm from '@/components/RegisterForm';

if (Astro.locals.session) {
  return Astro.redirect('/dashboard');
}
---

<Layout>
  <div class="container mx-auto">
    <div class="max-w-4xl py-10">
      <RegisterForm client:load />
    </div>
  </div>
</Layout>