---
import Layout from '@/layouts/Layout.astro';
import ResetPasswordForm from '@/components/ResetPasswordForm';

if (Astro.locals.session) {
  return Astro.redirect('/dashboard');
}

const token = Astro.url.searchParams.get('token');
---

<Layout>
  <div class="container mx-auto">
    <div class="max-w-4xl py-10">
      {token && (
        <ResetPasswordForm client:load token={token} />
      )}

      {!token && (
        <div>
          <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl mb-10">
            Reset Password.
          </h1>

          <p class="text-lg">
            The password reset URL is either invalid or has expired. Please try again.
          </p>
        </div>
      )}
    </div>
  </div>
</Layout>