---
import "@/styles/global.css";
import Navbar from "@/components/Navbar";

const { user } = Astro.locals;
const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Sky Brief | Daily Weather Notifications</title>
  </head>
  <body>
    <Navbar email={user?.email} pathname={pathname} client:load />

    <div class="mx-auto max-w-7xl px-2 px-8">
      <slot />
    </div>
  </body>
</html>